@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
}
.btn-primary {
    font-size: 14px;
}
.cc-card {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.16);
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    background: #fff;
}
.spacer-card {
    margin-bottom: 20px;
}
p {
    margin: 0;
}
.filter-card {
    padding: 15px 20px;
    border-bottom: solid 1px #d7d7d7;
}
.filter-card > p {
    font-size: 16px;
}
.filter-card > ul {
    margin: 10px 0;
    padding: 0px;
    padding-left: 15px;
    list-style-type: square;
}
.container > div:nth-child(2) > h4 {
    margin-bottom: 25px;
}

.cc-card.spacer-card.row.search-card {
    padding: 15px 20px;
    margin-bottom: 40px;
}
.cc-card.spacer-card.row.search-card input {
    padding: 5px 15px;
}
.row > * {
    padding-left: calc(var(--bs-gutter-x) * .8);
    padding-right: calc(var(--bs-gutter-x) * .8);
}
.libro > .col-3 img {
    width: 100%;
}
.libro > .col-3 {
}
.libro {
    padding: 15px 10px;
}
.libro > .col-9.row {
    padding: 0 0px;
}
.libro > .col-9 > .col-8 > p:nth-child(1) {
    font-size: 17px;
    font-weight: 500;
}
.libro > .col-9 > .col-8 > p:nth-child(2) {
    font-size: 13px;
}
.libro > .col-9 > .col-8 > p:nth-child(3) {
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
}
.dettagli .condizioni {
    line-height: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 0 5px;
}
.alert {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
}
.card-body.faq-x > img {
    width: 70%;
    display: block;
    margin: 20px auto;
    border: solid 1px #c8c8c8;
}
.card-body.faq-x {
    font-size: 15px;
}
.dettagli .d-flex > p {
    margin-left: 10px;
}
.libro > .col-3 {
    max-width: 174px;
}
.filter-card:last-child {
    border: none;
}
.status.d-flex.row-direction {
    margin-top: 10px;
}
.dettagli {
    margin-top: 10px;
}
.status > i {
    margin-right: 5px;
    margin-top: 3px;
}
button.prenota {
    width: 100%;
    margin-top: 15px;
}
button.prenota {
    padding: 6px 0;
}

.disponibile {
    color: darkgreen;
}
.prenotato {
    color: darkred;
}
.scaffale {
    margin-top: 14px;
}
.scaffale > p:nth-child(1) {
    font-size: 19px;
    font-weight: 200;
}
.scaffale > p:nth-child(2) {
    font-size: 45px;
    font-weight: 1000;
    margin-top: -12px;
}
.status.d-flex.row-direction {
    margin: 0;
    font-size: 14px;
}
.genere {
    margin-top: 15px;
    font-size: 14px;
}
.header {
    background: #096484;
    color: #fff;
    margin-bottom: 40px;
    padding: 10px 0;
}
.header-wrapper {
    margin: 0 auto;
}
.cc-card > h5 {
    padding: 10px 20px;
    #border-bottom: solid 2px #d7d7d7;
    font-size: 20px;
    font-weight: 400;
}
.container > label {
    padding-bottom: 15px;
    font-size: 14px;
}

.filter-card li {
    font-size: 13px;
}
.libro > .col-9 > .col-8 > p:nth-child(3) a {
    color: unset;
}
.scaffale > p:nth-child(2) a {
    text-decoration: none !important;
}
.form-select {
    -moz-padding-start: 28px;
    font-size: 14px;
    height: 100%;
}
.filter {
    background: #e8e8e8;
    float: left;
    color: #000;
    font-size: 13px;
    padding: 3px 8px;
}
.filter-card > .d-table p {
    margin-bottom: 6px;
}
.close-x {
    transform: rotate(45deg);
    top: 0.5px;
    position: relative;
}
.filter {
    margin: 4px 2px;
}
.isbn {
    width: 100%;
    padding: 5px 20px;
}
.input-wrapper {
    margin: 30px 0;
}
.dettagli .condizioni {
    height: 24px;
}
nav[role="navigation"] {
    margin-bottom: 50px;
    margin-top: 35px;
}
svg {
    max-height: 20px;
}
.flex-1.sm\:hidden {
    display: none;
}
.text-sm.text-gray-700.leading-5 {
    margin-bottom: 12px;
}
ul.search-list {
    position: absolute;
    width: calc(100% - calc(var(--bs-gutter-x) * .8)*2);
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
}
.cc-card.search-card > .col-8 {
    position: relative;
}
ul.search-list li {
    padding: 10px 20px;
    border-bottom: solid 1px #cecece;
    cursor: pointer;
    font-size: 13px;
    color: #686868;
    font-weight: normal;
}
ul.search-list li:last-child {
    border: none;
}
ul.search-list li:hover {
    background: #f4f4f4;
}
.numFilter {
    float: right;
}
.option-search > div > img {
    width: 100%;
}
.option-search > div:nth-child(1) {
    padding: 0 10px;
    width: 85px;
}
.option-search > div:nth-child(2) {
    padding: 5px 0 0 10px;
}
.option-search > div:nth-child(2) > p {
    font-size: 14px;
    font-weight: 600;
}
.option-search > div:nth-child(2) > span {
    font-size: 12px;
}
.search-list li a {
    text-decoration: none !important;
    color: unset;
}
.text-right {
    text-align: right;
}

.pages a {
    text-decoration: none;
}
.search-wrapper {
    position: relative;
}
.search-wrapper div > i {
    position: absolute;
    height: 38px;
    line-height: 38px;
    width: 38px;
    text-align: center;
    right: 3px;
    font-size: 14px;
    color: #6c6868;
    cursor: pointer;
}

.logo img {
    height: 85px;
}
.header {
    padding: 5px 0;
}
.cc-card {
    border-radius: 8px;
}
.libro > .col-9 > .col-8 > p:nth-child(1) a {
    text-decoration: none;
    color: unset;
}
.banner {
    height: 350px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}
.arrow-type .fas.fa-arrow-right {
    font-size: 18px;
    margin-top: 10px;
    position: relative;
    right: 5px;
}
.row.arrow-type {
    margin-top: 10px;
}
.row.pagine .col-4 {
    padding: 0 5px;
}
.option-search > div:nth-child(1) {
    width: unset !important;;
}
.too-long {
    line-height: 20px !important;
    font-size: 13.5px !important;
    letter-spacing: -0.25px !important;
    margin-bottom: 5px !important;
}
.col-lg-12 .info-book > div > p:nth-child(1) {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    height: 25px;
}
label a {
    text-decoration: none;
    color: unset;
}
.scaffale a {
    text-decoration: none;
}
.id {
    background: #000;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    margin-left: 10px;
    font-size: 18px;
}
.d-table.reparti > div {
    padding: 8px;
}
.d-table.reparti > div > div {
    height: 180px;
    color: #444;
    padding: 0 25px;
}
.d-table.reparti > div > div > div > a > p {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.75px;
}
.d-table.reparti > div > div > div > a {
    text-decoration: none;
    color: unset;
}

.d-table.reparti > div > div > div > a:hover {
    text-decoration: underline;
}
.barcode {
    margin-left: -10px;
    margin-top: 10px;
}

.copie i {
    font-size: 10px;
    top: -1.5px;
    position: relative;
}
.copie {
    font-size: 13px;
    background: #e3e3e3;
    padding: 5px 10px;
    border-radius: 5px;
    color: #595959;
    margin-bottom: 10px;
    text-align: center;
}
.copie.nuovo {
    color: #fff;
    background: #158217a3;
}
.copie.come-nuovo {
    background: #889d22b8;
    color: #fff;
}
.copie.notevolmente-consumato {
    background: #99191999;
    color: #fff;
}
.copie.leggermente-consumato {
    background: #d75c2db5;
    color: #fff;
}
.genere a:nth-child(even) {
    color: #096484;
}
.genere a:nth-child(even):hover {
    color: #123542;
}
.descrizione {
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0 10px;
}
.descrizione label {
    margin-bottom: 5px;
    font-size: 15px;
}
.qrcode-prestito label {
    width: 125px;
    float: right;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
}
.qrcode {
    width: 125px !important;
    height: 125px !important;
}
.search-wrapper p {
    font-size: 13px;
    margin-top: 5px;
    margin-left: 2px;
}
.search-wrapper > a {
    text-decoration: none;
    color: unset;
}
.author-card {
    padding: 30px 50px;
}
.author-card .d-flex {
    margin-bottom: 20px;
}
.author {
    margin-left: 20px;
    align-self: center;
}
.author-card .d-flex > img {
    box-shadow: 5px 5px 20px -5px #b2b2b2;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.author-card .d-flex .author > p {
    font-size: 24px;
    font-weight: bold;
}
.descrizione-author label {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}
.header i {
    font-size: 28px;
    margin: 0 11px;
}
.login {
    color: #fff !important;
    text-decoration: none;
    line-height: 40px;
}
.login i {
    position: relative;
    top: 5px;
}
b {
    font-weight: 600;
}
.cc-card.admin-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.cc-card.admin-menu ul li {
    padding: 15px 20px;
    border-bottom: solid 1px #c1c1c1;
}
.cc-card.admin-menu ul li:hover {
    background: #f7f7f7;
}
.cc-card.admin-menu ul li {
    transition-duration: 0.25s;
}
.search-fast > * {
    width: 100%;
}
.search-fast {
    padding: 20px 20px;
    border-bottom: solid 1px #444;
}
.search-fast input {
    margin-top: 10px;
}
.search-fast label {
    font-size: 13px;
    color: #2d2d2d;
    font-weight: 400;
}
.cc-card.admin-menu a {
    text-decoration: none;
    color: unset;
}
.banner {
    max-height: 345px;
    overflow: hidden;
    height: unset;
}
.banner img {
    width: 100%;
}
.autori-card > .row > div > img {
    height: 225px;
}
.autori-card {
    margin: 25px 0 30px;
}
.banner-wrapper {
    position: absolute;
    height: 100%;
}
.banner {
    position: relative;
}
.invalid-feedback {
    font-weight: 300;
}
.card-header {
    background: unset;
    font-size: 20px;
    padding: 15px 25px;
    border-bottom: solid 1px #d9d9d9;
}
.card-body {
    padding: 20px 25px 25px;
}
.autori-card p {
    border-bottom: solid 1px #acacac;
    padding: 16px 30px;
    font-size: 18px;
    font-weight: 300;
}
.autori-card > .row {
    padding: 25px 20px;
    display: table;
    width: 100%;
}
.autori-card > .row > div {
    float: left;
    padding: 0 7px;
    width: fit-content;
}
.autori-card > p > a {
    font-size: 15px;
}
.banner-wrapper {
    height: fit-content;
    align-self: center;
    margin-left: 50px;
}
.banner {
    display: flex;
}
.banner-wrapper h5 {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.banner-wrapper p {
    font-size: 16px;
    font-weight: 300;
    margin: 8px 0;
}
.banner-wrapper a {
    font-size: 15px;
}
.autori-bacheca .img-autori {
    box-shadow: 5px 5px 20px -5px #b2b2b2;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.autori-bacheca {
    display: flex;
    border-bottom: solid 1px #c8c8c8;
    padding: 15px 25px;
}
.autori-card p {
    padding: 16px 10px;
    border-bottom: unset;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: #0d6efd;
    cursor: pointer;
}
.option-search {
    color: #242424;
}
.autori-card p a {
    font-size: 14px;
    margin-left: 4px;
}
.subheader {
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
}
.header {
    margin: 0;
}
.subheader-wrapper > ul {
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
}
.subheader-wrapper > ul > a {
    text-decoration: none;
}
.subheader-wrapper {
    margin: 0 auto;
    padding: 0 55px;
}
.subheader-wrapper > ul a > li {
    padding: 18px 25px;
    border: none;
    color: #666;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.suffix {
    position: absolute;
    margin-top: -31px;
    right: 35px;
}
.subheader-wrapper > ul a > li.actived {
    background: #7493c1;
    color: #fff;
}
.subheader-wrapper > ul > a:nth-child(odd) {
    background: #f2f2f2;
}
.container.row.col-lg-8.lettere-cont > .cc-card {
    padding: 0;
    background: #eee;
}
.lettere {
    padding: 25px 35px;
    width: fit-content;
    margin: 0 auto;
}
.container.row.col-lg-8.lettere-cont > .cc-card .lettere > a {
    margin: 0 8px;
    text-decoration: none;
    font-weight: 500;
    color: unset;
}
.autori {
    background: #fff;
    padding: 25px 30px;
}
.lettere-cont a {
    color: unset;
    margin: 5px 0;
}
.container.row.col-lg-8.lettere-cont > .cc-card .lettere > a.actived {
    color: #3c72c4;
    font-weight: bold;
    font-size: 20px;
}
.container.row.admin-select > a:hover {
    top: -5px;
    position: relative;
}
.container.row.admin-select > a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}
.container.row.admin-select > a > div label {
    margin-top: 10px;
    cursor: pointer;
}

.profile .profile-avatar {
    background: #fff;
    color: #3d5eac;
    padding: 5px;
    width: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    line-height: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    cursor: pointer;
}
.profile.d-flex.flex-row {
    line-height: 50px;
}
.profile.d-flex.flex-row p {
    margin-right: 15px;
    font-size: 15px;
}
.autori-card p {
    padding: 0;
}
.autori-card .autori-bacheca > div > label {
    font-size: 14px;
    font-weight: lighter;
}
.autori-card .autori-bacheca > div {
    height: fit-content;
    margin-top: 4px;
    margin-left: 10px;
}
.autori-card .autori-bacheca > div > p {
    height: fit-content;
}

.cc-card.profile-menu {
    padding: 0;
}
.cc-card.profile-menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.cc-card.profile-menu > ul > a > li {
    padding: 18px 25px;
    border-bottom: solid 1px #e8e8e8;
}
.cc-card.profile-menu > ul > a:nth-child(odd) > li {
    background: #f6f6f6;
}
.cc-card.profile-menu > ul > a:last-child > li {
    border: none;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top-color: rgb(206, 212, 218);
    border-right-color: rgb(206, 212, 218);
    border-bottom-color: rgb(206, 212, 218);
    border-left-color: rgb(206, 212, 218);
    border-radius: .25rem;
}
.login .btn-primary.btn {
    font-size: 15px;
    display: flex;
    align-content: center;
}
.login .btn-primary.btn > i {
    font-size: 15px;
    margin: 0;
    margin-right: 8px;
    margin-top: -1.5px;
}
.login {
    display: flex;
    align-items: center;
}
.welcome > p:nth-child(1) {
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.welcome {
    margin-bottom: 35px;
}
.autori-card > .row > div {
    width: 25%;
}
.autori-card > .row > div > img {
    height: unset;
    width: 100%;
}
footer {
    background: #e3e3e3;
    margin-top: 100px;
    padding: 50px 0;
}
footer .container.row {
    margin: 0 auto;
}
footer .container.row img {
    filter: grayscale(1);
    width: 400px;
}
footer .footer-wrapper {
    display: flex;
}
.footer-wrapper.d-flex.align-self-center.flex-column {
    color: #484848;
    font-weight: 300;
    margin-top: 10px;
}
.cc-card.profile-menu > ul > a.actived > li {
    background: #416fb3 !important;
    color: #fff;
    font-weight: 400;
}
.cc-card.categories > ul > a {
    color: unset;
    text-decoration: none;
}
.cc-card.categories > ul > a > li {
    padding: 15px 15px;
    border-bottom: solid 1px #dfdfdf;
}
.welcome > p:nth-child(2) {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
}
.welcome.cc-card {
    padding: 20px 20px;
}
.cc-card.profile-menu > ul > a {
    color: #595959;
    font-weight: 300;
    text-decoration: none;
}
.cc-card.profile-menu > ul > a:hover > li {
    background: #f0f0f0;
}
.cc-card.profile-menu > ul > a > li {
    transition-duration: 0.15s;
}
.media {
    background: #003d97;
    color: #fff;
    font-weight: bold;
    padding: 5px 8px;
    align-self: center;
    margin-right: 10px;
}
.alert-book {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.d-flex.medie > i {
    font-size: 14px;
    margin: 0 1px;
}
.d-flex.medie > i {
    cursor: pointer;
}
.banner .container .row > *:hover {
    margin-top: -20px;
}
.banner .container .row > * {
    transition-duration: 0.6s;
}
.profile .profile-avatar {
    height: 50px;
    min-width: 50px;
}
.d-flex.medie > i.removed {
    color: #a6a6a6;
}
.banner-wrapper {
    color: #fff;
}
.banner-wrapper > a {
    color: #c8eaff;
}
.cc-card.flag-card > .header-card > img {
    height: 50px;
    border-radius: 10px;
    border: solid 3px #d5d5d5;
    margin-right: 20px;
    filter: saturate(0.8);
    width: 85px;
}
.cc-card.flag-card {
    padding: 15px 20px;
}
.cc-card.flag-card > .header-card > label {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
}
.cc-card.flag-card:hover {
    position: relative;
    top: -10px;
}
@media screen and (max-width: 1190px) {
    .container.row {
        width: 95%;
    }
    .container {
        width: 90%;
    }
    .col-md-5 {
        width: 80%;
    }
}
@media screen and (max-width: 550px) {
    .container .col-4 {
        width: 100%;
    }
    .container.row {
        padding: 0;
    }
    .container > .col-8 {
        width: 100%;
        margin-top: 24px;
    }
    .container > .col-8 > * {
        width: 100%;
    }
    .libri .libro {
        width: 100%;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .container > .col-8 h5 {
        margin-bottom: 17px;
    }
    .cc-card.spacer-card.row.search-card > .col-8 {
        width: 100%;
        margin-bottom: 13px;
    }
    .search-wrapper i {
        display: none;
        border: solid 1px #9b9b9b;
    }
}
#filterBlock {
    display: block;
}
.filter-toggler {
    display: none;
}
.button-clicker {
    cursor: pointer;
}
.btn.btn-primary.desc-collapse {
    margin: 10px 0px;
}
.carousel.slide {
    background: #494949;
    overflow: hidden;
    border-radius: 10px;
}
.carousel-indicators > li {
    background: rgba(255,255,255,.5);
    height: 3px;
    margin: 0 4px;
    width: 30px;
}
.carousel-indicators > li.active {
    background: #fff;
}
.banner-wrapper {
    margin-left: 70px;
}
.carousel-control-prev {
    width: 10%;
    opacity: 1;
}
.carousel-control-next {
    width: 10%;
    opacity: 1;
}
.subheader {
    padding: 0;
}
.close-form {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    transform: rotate(0deg);
}
button.close-form {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.toast {
    margin-right: 35px;
    z-index: 10;
}
#loading {
    z-index: 10000;
}
.toast-header {
    display: flex;
}
.close {
    margin: 3px 0;
}
.toast .mr-auto {
    margin-right: auto;
}
.toast-header {
    border-bottom: solid 1px #d7d7d7;
}
.toast-body {
    background: #f2f2f2;
    font-size: 12px;
    padding: 10px 10px;
}
.toast-header {
    font-size: 13px;
}
.toast-header > button {
    font-size: 20px;
}
.toast-header {
    padding: 5px 10px;
}
.toast {
    border-radius: 6px;
    overflow: hidden;
}
@media screen and (max-width: 750px) {
    .banner {
        height: 250px;
    }
    .filter-toggler {
        display: block;
    }
    #filterBlock.collapse {
        display: none;
    }
    #filterBlock.collapse.show {
        display: block;
    }
    .pages.cc-card.filter-card.row {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .pages.cc-card.filter-card.row > .button-clicker:nth-child(1) {
        margin-bottom: 20px;
        margin-top: 0;
    }
    .pages.cc-card.filter-card.row > .button-clicker {
        margin-top: 25px;
    }
}

.google-button {
    margin: 0 auto;
    cursor: pointer;
}
.google-button > .cc-card {
    background: #0d6efd;
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.google-button > .cc-card > i {
    font-size: 30px;
}
.google-button > .cc-card > span {
    line-height: 30px;
    letter-spacing: 0.5px;
}
.is-invalid-email {
    text-align: center;
    color: darkred;
    margin-top: 25px;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.cc-card.categories > ul > a li:hover {
    background: #f9f9f9f0 !important;
}
.cc-card.categories > ul > a li {
    transition-duration: 0.3s;
}
.collapse:not(.show) {
    display: none;
}

.banner > img {
    border-radius: 10px;
    overflow: hidden;
}
.banner > .banner-wrapper > h5 {
    font-size: 30px;
    letter-spacing: 1px;
}
.banner > .banner-wrapper > p {
    font-size: 14px;
}
.flag-card .header-card {
    display: flex;
}
.flag-card .header-card > label {
    align-self: center;
}
.profile-b {
    margin-left: auto;
    display: flex !important;
}
.profile-faq > i {
    margin: 0;
}
.profile-lang > i {
    font-size: 35px;
}
.dropdown-menu.dropdown-menu-right.show {
    z-index: 10000;
}
.dropdown-item.langu > img {
    width: 23px;
    border-radius: 3px;
    height: 15px;
    margin-right: 2px;
}
.dropdown-menu a:nth-child(2n+1) button {
    background: #f2f2f2;
}
.dropdown-menu.dropdown-menu-right.show > a {
    text-decoration: none;
}
.langu > span {
    font-size: 13px;
    line-height: 23px;
    color: #000 !important;
}
.dropdown-menu a button:hover {
    background: #e3e2e2 !important;
}
footer {
    background: #27282c;
}
.footer-wrapper > h5 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
footer a {
    color: #dfdfdf;
}
.footer-wrapper > p {
    color: #c0c0c0;
    font-size: 15px;
}
.brands i {
    font-size: 35px;
    color: #fff;
    margin: 0 5px;
}
.brands > .d-flex {
    display: flex;
    align-items: center;
}
.copyright i {
    margin: 10px 10px;
    color: #fff;
    font-size: 38px;
}
.copyright {
    padding: 40px 10px 0;
    text-align: right;
}
.copyright .d-flex.flex-row {
    text-align: right;
}
.brands > .d-flex > label {
    margin-left: 10px;
    font-size: 16px;
}
.brands {
    padding: 40px 10px 0;
}
.brands {
    color: #fff !important;
}
.profile-faq {
    margin: 0 10px 0 30px;
}
.profile-b > .d-flex {
    align-items: center;
}
.copyright label {
    color: #fff;
    font-size: 14px;
}
.brands {
    align-content: center;
    display: flex;
}
.copyright {
    max-width: 500px;
    margin-left: auto;
}
.vjs-big-play-button {
    height:   50px !important;
    line-height:  47px !important;
    border-radius: 50% !important;
    width: 50px !important;
    font-size: 25px !important;
    border: solid 3px #0d6efd !important;
    background: #393939 !important;
    position: relative !important;
    top:  50% !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    -ms-transform: translate(-50%, -50%) !important;
}
.vjs-control-bar {
    background: #022e3eb0 !important;
    height: 4em !important;
}
.vjs-play-control.vjs-control.vjs-button.vjs-paused {
    font-size: 13px;
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    font-size: 13px;
}
.vjs-remaining-time.vjs-time-control.vjs-control {
    line-height: 4em;
    padding: 0 10px !important;
}
.vjs-fullscreen-control.vjs-control.vjs-button {
    font-size: 13px;
}
.vjs-progress-holder.vjs-slider.vjs-slider-horizontal {
    background: #0d6efd;
}
.vjs-play-progress.vjs-slider-bar {
    color: #97dff9;
}
.vjs-play-control.vjs-control.vjs-button.vjs-playing {
    font-size: 13px;
}
.vjs-poster {
    width: 100% !important;
}
#my-video {
    width: 100%;
    height: 550px;
}
.cc-card {
    overflow: hidden;
}
img[alt="logo-doc"] {
    width: 100%;
    display: block;
    margin-left: auto;
}
.video-wrapper.col-6 {
    min-height: 412px;
}
.video-wrapper {
    position: relative;
}
.video-wrapper .fornitore {
    opacity: 0.7;
}
.video-wrapper h5 {
    font-size: 15px;
    font-weight: bold;
}
.video-wrapper p {
    text-transform: uppercase;
    font-size: 14px;
}
img[alt="logo-doc"] {
    width: unset;
    height: 60px;
}
.video-wrapper .fornitore {
    width: 40px;
    position: absolute;
    top: 140px;
    right: 20px;
    filter: grayscale(0.5);
}
.author-doc {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
}
.add-button {
    text-align: right;
    margin-bottom: 15px;
}
.cover-video {
    height: 200px;
    background: url(a) center;
    background-size: cover;
}
.video-wrapper:hover {
    position: relative;
    top: -10px;
}
.video-wrapper a {
    text-decoration: none;
    color: unset;
}
.cover-video {
    position: relative;
}
.module-bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), #fff 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-wrapper .info {
    padding: 22px 20px;
}
.video-wrapper {
    float: left;
}
.video-wrapper {
    padding: 20px 6px;
}
.cc-card.info {
    padding: 30px 20px;
}
.share {
    font-size: 17px;
    margin-top: 15px;
    font-weight: normal;
}
.vjs-text-track-display {
    height: 100%;
}
.module-bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02),#09648430 50% ,#096484 100%);
}
.video-cc {
    background: #096484;
    color: #fff;
}
.video-wrapper .info {
    position: relative;
    top: -60px;
    height: 100px;
}
.vjs-control-bar {
    height: 55px !important;
}
.video-js .vjs-play-control {
    font-size: 18px !important;
}
.vjs-volume-panel.vjs-control.vjs-volume-panel-horizontal {
    font-size: 17px;
    position: relative;
    top: 2px;
}
.vjs-progress-holder {
    border-radius: 24px;
    overflow: hidden;
    height: 5px !important;
}
.vjs-remaining-time.vjs-time-control.vjs-control {
    line-height: 55px;
    font-size: 13px !important;
    letter-spacing: -0.5px;
}
.vjs-fullscreen-control.vjs-control.vjs-button {
    font-size: 18px;
}
.vjs-big-play-button {
    height: 70px !important;
    width: 70px !important;
    line-height: 70px !important;
    font-size: 40px !important;
    background: #242424b3 !important;
}
.vjs-icon-placeholder::before {
    top: -1px !important;
}
.brands {
    padding: 20px 10px 0;
}
.col-6.copyright {
    padding: 20px 10px 0;
}
footer {
    padding: 30px 0 20px;
}
.col-6.brands {
    padding: 0 10px;
}
.col-6.copyright {
    padding: 0 10px;
}
footer {
    padding: 10px 0;
}
footer {
    margin-top: -20px;
}
ul.search-list {
    border: solid 1px #bbb;
}
.flag-nobel {
    height: 15px;
    width: 23px;
    border-radius: 3px;
}
.flag-nobel {
    top: 3px;
    position: relative;
    margin-right: 5px;
}
.author-card .d-flex {
    margin-bottom: 0;
}
.profile.d-flex.flex-row p {
    text-transform: capitalize;
}
.profile-faq {
    margin: 0 10px;
}
.propose {
    margin: 0 10px 0 30px;
}
.propose i {
    margin: 0;
}
.close {
    transform: none;
    background: unset;
    border: none;
    font-size: 30px;
    margin: 0;
    top: 0;
}
.badge {
    padding: 8px 10px;
    border-radius: 6px;
    text-transform: uppercase;
}
@media screen and (max-width: 1140px) {
    .logo.col-6 {
        width: fit-content !important;
    }
    .col-6.d-flex.profile-b {
        width: auto;
    }
}

@media screen and (max-width: 900px) {
    .col-6.d-flex.profile-b {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logo.col-6 {
        width: 100% !important;
        text-align: center;
    }
    .profile-b .d-flex {
        margin: 0 !important;
    }
    .profile-b > .d-flex > a:nth-child(2) {
        float: right;
        margin: 0 0 0 auto !important;
    }
    .profile-b .d-flex {
        display: flex !important;
        width: 100% !important;
    }
    .subheader-wrapper > ul > a {
        text-align: center;
    }
    .row > * {
        text-align: left;
    }
}

.cc-card.categories > ul > li:nth-child(1) {
    font-size: 16px;
    list-style: none;
    padding: 16px 30px;
    background: #f4f4f4;
    margin-left: -32px;
    border-bottom: solid 1px #dbdbdb;
    text-transform: uppercase;
    font-weight: bold;
}
.banner-wrapper {
    max-width: 350px;
}

.scaffale {
    height: inherit;
    background: #066299;
    margin: 0 !important;
}
.scaffale-row:nth-child(2n) > .scaffale {
    background: #128ad2;
}
.row.scaffale-row.d-table {
    padding-left: 20px;
}
.scaffale.x-line {
    width: 180px;
}
.black-block {
    height: 100px !important;
    width: 100px !important;
    background: rgba(0,33,54,0.7) !important;
}
.scaffale.y-line {
    margin-top: 0;
}
.scaffale {
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    line-height: 180px;
    text-align: center;
}
.scaffale.x-line {
    line-height: 100px;
}
.col-3.scaffale.scrivania {
    line-height: 100px;
    font-size: 30px;
}
.cc-card.admin-menu li[actived] {
    background: #0d6efd !important;
    color: #fff;
}
@media screen and (max-width: 750px) {
    .subheader.navbar.navbar-expand-lg {
        padding: 10px 22px !important;
    }
    .container > .row > * {
        width: 100%;
    }
    .container.row > * {
        width: 100%;
    }
    .container.row > .col-4 {
        margin-bottom: 25px;
    }

    .profile.d-flex.flex-row {
        display: flex;
        flex-direction: row-reverse !important;
    }
    .profile-avatar {
        margin-right: 10px;
    }
    .profile.d-flex.flex-row > p {
        line-height: 20px;
    }
    .profile.d-flex.flex-row {
        align-items: center;
    }
    .col-6.d-flex.profile-b > div >a {
        display: flex;
    }
    .header-wrapper.container.row {
        margin: 0 auto;
    }
    footer {
        display: none;
    }
    .pages.cc-card.filter-card.row > a {
        text-align: center;
        font-size: 15px;
        width: auto;
        padding: 0;
    }
    .pages.cc-card.filter-card.row > span {
        width: fit-content;
    }
    .libro > .col-3 img {
        min-width: 110px;
        margin-left: -15px;
        margin-top: 5px;
    }
    .libro > .col-9.row {
        position: relative;
        left: 20px;
    }
    .libro .col-4.dettagli {
        display: flex;
        flex-direction: column;
        width: inherit;
        margin-top: 20px;
    }
    .libro > .col-9.row > .col-8 {
        width: fit-content;
    }
    .dettagli .d-block.btn.btn-primary {
        width: 100%;
    }
    .libro.row.cc-card.spacer-card p > a {
        word-break: break-all;
    }

    .qrcode-prestito {
        display: none;
    }
    .col-8.dati {
        width: 100%;
    }
    .descrizione.d-flex.flex-column > .row > .col-5 {
        width: 50% !important;
    }
    .info-book .row .col-5 {
        width: 50%;
        padding-right: 0;
    }
    .info-book .row .col-7 {
        width: 50%;
        padding-left: 5px;
    }
    .info-book .row .col-5 > .barcode {
        display: none;
    }
    .prestati .col-2:nth-child(3) {
        display: none;
    }
    .prestato > .riga > p {
        width: fit-content !important;
    }
    .prestati .prestato p {
        width: fit-content;
    }
    .prestati .prestato p.col-3 {
        width: 22%;
    }
    .prestati .prestato p:nth-child(1) {
        width: 22%;
        font-size: 12px;
    }
    .prestato.row.header-table {
        display: none;
    }
    .col-lg-12.prestati {
        border-top: solid 2px #ccc;
    }
    .subheader.navbar.navbar-expand-lg {
        padding: 0;
    }
    .navbar-nav.mr-auto {
        margin-top: 10px;
    }
    .nav-item {
        text-align: left !important;
    }
    .subheader.navbar.navbar-expand-lg.sticky-top {
        padding: 10px 0 !important;
    }
    .logo.col-6 {
        margin-top: 15px;
    }
    .navbar-toggler {
        margin-left: 10px;
    }
    .row > * {
        padding: 0;
    }
    .cc-card {
        padding: 20px 25px;
    }
    .descrizione-author label {
        font-size: 15px;
        line-height: 22px;
    }
    .filter-toggler {
        border: solid 1px #848484;
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 5px;
    }
    .libro > .col-9.row {
        padding-left: 15px;
    }
    ul.search-list {
        border: solid 1px #b2b2b2;
        width: 100% !important;
        z-index: 1;
        position: relative;
    }
    .py-4 > * {
        padding: 0;
    }
    .cc-card.categories {
        padding: 0;
    }
    .banner > img {
    }
    .autori-card.cc-card {
        padding: 0;
    }
    .autori-bacheca {
        padding: 12px 20px;
    }
    .autori-bacheca {
    }
    .autori-card p {
        font-size: 17px;
        margin-bottom: 8px;
    }
    .autori-bacheca .row {
        padding: 10px;
    }
    .autori-card .row {
        padding: 10px;
    }
    .autori-card .row > .col-3 {
        padding: 1px;
    }
    .col-4.dettagli {
        width: 100% !important;
    }
    .libro > .col-9.row {
        padding-right: 25px;
    }
    .container > .col-8 {
        margin-top: 0px;
    }
    .py-4 .container.row {
        margin-top: -38px !important;
    }
}

.loadingpage-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.78);
    display: flex;
}
.loadingpage-wrapper > .loading-page {
    margin: 0 auto;
    align-self: center;
}
.loadingpage-wrapper > .loading-page > img {
    width: 150px;
}
